<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
  <div class="main-content">
      {{>header}}
      <span>This site was created by Max Vashchenko</span>
<p>
    <img class="portrait" src="/img/robot.png">
</p>

  </div>

  {{>footer}}
  </body>
</html>
